$font: "Arial", sans-serif;
$primary-color: #FED100;
$primary-text-yellow: #ffe500;
$black-color: #000000;
$white-color: #ffffff;
$text-color: #000;
$ss-fs: 11px;
$s-fs: 12px;
$mm-fs: 13px;
$m-fs: 14px;
$primary-fs: 16px;
$primary-radius: 5px;
$primary-border-input: #dee2e6;
$primary-btn-color: #F97D0F;
$primary-text-blue: #0056b3;
$primary-linear: all .3s linear;