html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.container.no-gutters {
  padding: 0;
}

.container.sm-gutters {
  padding: 0 5px;
}

.container.md-gutters {
  padding: 0 15px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > .col,
.row.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.row.sm-gutters {
  margin-right: -5px;
  margin-left: -5px;
}
.row.sm-gutters > .col,
.row.sm-gutters > [class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.row.md-gutters {
  margin-right: -10px;
  margin-left: -10px;
}
.row.md-gutters > .col,
.row.md-gutters > [class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transition: all 0.3s linear;
  }
  100% {
    opacity: 1;
    transition: all 0.3s linear;
  }
}
@keyframes growUp {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes fadeBottom {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-2-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
}

.app {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.separator-y {
  background-color: #232323;
  height: 40px;
  width: 1px;
}

.dot-new {
  background-color: #FED100;
  border-radius: 100%;
  display: block;
  left: 3px;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  will-change: transform;
}

.dot-new-animation {
  border: 1px solid #ffe66b;
  background-color: rgba(255, 230, 107, 0.2);
  border-radius: 100%;
  display: block;
  height: 8px;
  opacity: 1;
  -moz-animation: growUp 1.25s linear infinite;
  -o-animation: growUp 1.25s linear infinite;
  -webkit-animation: growUp 1.25s linear infinite;
  animation: growUp 1.25s linear infinite;
  width: 8px;
}

.text-dots-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #000;
}

.text-dots-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #000;
  line-height: 1.2rem;
}

.text-dots-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  color: #000;
  line-height: 1.2rem;
}

.btn {
  border: none;
  outline: none;
  width: 100%;
  -webkit-tap-highlight-color: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.btn.btn-primary {
  background: #F97D0F;
}

.btn.btn-disabled {
  background: #BDBDBD;
  color: #ffffff;
}

.btn.btn-outline {
  border: 1px solid #008847;
  color: #008847;
}

.btn:focus {
  outline: none;
  border: none;
}

.star-gold {
  color: #FED100;
}

.banner__outside.slick-initialized.slick-slider,
.product__slider.slick-initialized.slick-slider,
.tabs__slider.slick-initialized.slick-slider,
.app__slider.slick-initialized.slick-slider {
  position: static;
}
.banner__outside.slick-initialized .slick-slide,
.product__slider.slick-initialized .slick-slide,
.tabs__slider.slick-initialized .slick-slide,
.app__slider.slick-initialized .slick-slide {
  height: auto;
}
.banner__outside.slick-initialized:hover > .slick-arrow,
.product__slider.slick-initialized:hover > .slick-arrow,
.tabs__slider.slick-initialized:hover > .slick-arrow,
.app__slider.slick-initialized:hover > .slick-arrow {
  background: #f3f3f3;
  color: #000000;
  box-shadow: 6px 0 4px rgba(0, 0, 0, 0.05), 4px 0 4px rgba(0, 0, 0, 0.09);
}
.banner__outside.slick-initialized .slick-arrow,
.product__slider.slick-initialized .slick-arrow,
.tabs__slider.slick-initialized .slick-arrow,
.app__slider.slick-initialized .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  will-change: transform;
  z-index: 9;
  border: none;
  outline: none;
  padding: 15px 10px;
  font-size: 26px;
  background: #ffffffcc;
  color: #b5b5b5;
  transition: all 0.3s linear;
}
.banner__outside.slick-initialized .slick-prev,
.product__slider.slick-initialized .slick-prev,
.tabs__slider.slick-initialized .slick-prev,
.app__slider.slick-initialized .slick-prev {
  left: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.banner__outside.slick-initialized .slick-next,
.product__slider.slick-initialized .slick-next,
.tabs__slider.slick-initialized .slick-next,
.app__slider.slick-initialized .slick-next {
  right: -5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.banner__outside.product__list.slick-initialized .slick-track,
.product__slider.product__list.slick-initialized .slick-track,
.tabs__slider.product__list.slick-initialized .slick-track,
.app__slider.product__list.slick-initialized .slick-track {
  display: flex;
}
.banner__outside.product__gap.slick-initialized .slick-track,
.product__slider.product__gap.slick-initialized .slick-track,
.tabs__slider.product__gap.slick-initialized .slick-track,
.app__slider.product__gap.slick-initialized .slick-track {
  display: flex;
  gap: 0 10px;
}
.banner__outside.product__gap .product__item,
.product__slider.product__gap .product__item,
.tabs__slider.product__gap .product__item,
.app__slider.product__gap .product__item {
  border: none;
  border-radius: 5px;
}

.product__list {
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  margin-top: 20px;
}
.product__list .slick-list {
  width: calc(100% + 1px);
}
.product__item {
  background: #ffffff;
  padding: 10px;
  height: 100%;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.product__item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product__item:hover .product__title {
  color: #0069db;
}
.product__item:hover .product__img {
  transform: translateY(-10px);
}
.product__tag {
  margin-bottom: 10px;
}
.product__tag span {
  background: #F1F1F1;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 400;
}
.product__img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}
.product__img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding-top: 10px;
}
.product__label {
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  padding-right: 8px;
  margin-bottom: 10px;
  font-size: 10px;
}
.product__label img {
  width: 20px;
  height: 20px;
}
.product__label span {
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 10px;
  line-height: 13px;
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 2;
  text-transform: uppercase;
}
.product__label.temp1 {
  background: linear-gradient(to right, #ef3006, #c60004);
}
.product__label.temp4 {
  background: linear-gradient(to right, #3bacf0, #1b6dc1);
}
.product__label.temp5 {
  background: linear-gradient(to right, #faab08, #d42611);
}
.product__label.temp6 {
  background: linear-gradient(to right, #af63cf, #3327a7);
}
.product__label.preorder {
  background-color: #e91e63;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  max-width: 90%;
  margin-bottom: 5px;
}
.product__title {
  --line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  overflow: hidden;
  transition: all 0.2s linear;
}
.product__compare {
  display: flex;
  align-items: center;
  gap: 0 5px;
  margin-bottom: 10px;
}
.product__compare span {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #dee2e6;
}
.product__text-online {
  font-size: 12px;
  margin-bottom: 10px;
}
.product__price-old {
  margin-bottom: 10px;
}
.product__price-old-discount {
  text-decoration: line-through;
  font-weight: 400;
}
.product__price-old-percent {
  font-size: 13px;
}
.product__price {
  font-weight: bold;
  font-size: 16px;
}
.product__gift {
  margin-bottom: 10px;
  font-size: 13px;
}
.product__rating {
  font-size: 12px;
}
.product__rating-star {
  color: #F1F1F1;
}

.highlight__container {
  position: relative;
}
.highlight__boxed {
  margin-bottom: 30px;
}
.highlight__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlight__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.highlight__tag-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 0 10px;
  max-width: 100%;
  overflow-x: auto;
}
.highlight__tag-link {
  display: block;
  text-align: center;
  padding: 5px 10px;
  border-radius: 100rem;
  font-size: 13px;
  border: 1px solid #dee2e6;
  transition: all 0.3s linear;
}
.highlight__tag-link:hover {
  color: #0069db;
}

.banner__outside {
  height: 45px;
}
.banner__outside-img {
  display: block;
  width: 100%;
}
.banner__outside-img img {
  width: 100%;
  height: auto;
}

.header__top-bg {
  background: #000000;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.4;
  gap: 0 5px;
}
.header__logo {
  width: 140px;
}
.header__location {
  color: #ffffff;
  font-size: 11px;
  width: 135px;
}
.header__location span {
  margin-top: 2px;
  font-size: 12px;
  color: #FED100;
  display: block;
  font-size: 11px;
}
.header__search {
  position: relative;
  width: 225px;
}
.header__search input {
  border-radius: 5px;
  width: 100%;
  padding: 8px 10px;
  border: none;
  outline: none;
  font-size: 12px;
}
.header__search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
}
.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 5px;
  width: 100px;
  gap: 0 8px;
  border-radius: 5px;
}
.header__history-cart {
  width: 60px;
  text-align: center;
}
.header__hot {
  color: #FED100;
  width: 200px;
  position: relative;
  padding: 0 0 0 20px;
}
.header__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  text-align: center;
}
.header__modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.header__modal-content {
  width: 475px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  pointer-events: auto;
  font-size: 14px;
}
.header__modal-heading {
  padding: 16px 0;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}
.header__modal-title {
  text-align: center;
  color: #000000;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
}
.header__modal-close {
  padding: 8px;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #000000;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
.header__modal-body {
  color: #000000;
  padding: 15px 45px;
}
.header__modal-body-title {
  font-size: 14px;
  line-height: 1.7857142857;
}
.header__modal-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.header__modal-collapse {
  background: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.header__modal-collapse-input {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  padding: 0 10px;
}
.header__modal-collapse-input-icon {
  font-size: 16px;
  font-weight: bold;
}
.header__modal-collapse-input input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}
.header__modal-collapse-content {
  overflow-y: auto;
  max-height: 200px;
}
.header__modal-collapse-content::-webkit-scrollbar {
  display: none;
}
.header__modal-footer {
  padding: 15px 45px;
}
.header__modal-btn {
  text-align: center;
  width: 100%;
  padding: 0 20px;
}
.header__main {
  background: #FED100;
}
.header__navbar-list {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}
.header__navbar-item {
  position: relative;
}
.header__navbar-item img {
  width: 15px;
}
.header__navbar-item:hover {
  background: #ffffff;
}
.header__navbar-item:hover .header__navbar-sub {
  display: block;
}
.header__navbar-item-tag-sale {
  position: absolute;
  top: 3px;
  right: -8px;
  background: #f51212;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 9px;
  color: #ffffff;
}
.header__navbar-item-tag-sale:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 3px;
  border: 4px solid transparent;
  border-color: #f51212 transparent transparent transparent;
}
.header__navbar-link {
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
  height: 43px;
  padding: 0 9px;
  gap: 0 5px;
}
.header__navbar-link-icon {
  padding-bottom: 5px;
}
:hover .header__navbar-link__navbar-sub {
  display: block;
}
.header__navbar-sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 770px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  padding: 15px;
  display: none;
  animation: fadeBottom 0.3s linear;
  z-index: 10;
}
.header__navbar-sub-item:first-child a {
  margin-top: 0;
}
.header__navbar-sub-list:nth-child(2), .header__navbar-sub-list:nth-child(3) {
  margin-top: 20px;
}
.header__navbar-sub-col {
  padding: 0 10px;
}
.header__navbar-sub-link {
  display: block;
  margin-top: 15px;
  transition: all 0.3s linear;
}
.header__navbar-sub-link:hover {
  color: #0069db;
}
.header__navbar-sub-title {
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px solid #dee2e6;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.header__navbar-sub-title-link {
  font-size: 11px;
  color: #0069db;
  text-transform: initial;
  font-weight: normal;
}
.header__navbar-sub-title-link:hover, .header__navbar-sub-title-link:hover i {
  color: initial;
}
.header__navbar-sub-icon {
  font-size: 11px;
  color: #0069db;
}
.header__navbar-sub::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 45px;
  border: 10px solid;
  border-color: transparent transparent #FED100 transparent;
  user-select: none;
  pointer-events: none;
}
.header__navbar-sub.pc-mayin {
  width: 150px;
}

.banner__sticky a {
  position: fixed;
  top: 195px;
  width: 80px;
  z-index: 999;
}

main {
  margin-top: 25px;
}

.banner .container {
  display: flex;
}
.banner__primary {
  width: 70%;
  padding-right: 20px;
}
.banner__link {
  display: block;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
}
.banner__link img {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.banner__small {
  width: 30%;
}
.banner__small-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.banner__small-item {
  width: 170px;
  height: 170px;
  object-fit: contain;
}
.banner__list.slick-initialized:hover > .slick-arrow {
  display: block !important;
}
.banner__list.slick-initialized .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  will-change: transform;
  z-index: 9;
  border: none;
  outline: none;
  padding: 15px 10px;
  font-size: 28px;
  background: #ffffffcc;
  display: none !important;
  animation: fadeIn 0.3s linear;
  box-shadow: 6px 0 4px rgba(0, 0, 0, 0.05), 4px 0 4px rgba(0, 0, 0, 0.09);
}
.banner__list.slick-initialized .slick-prev {
  left: 0;
}
.banner__list.slick-initialized .slick-next {
  right: 0;
}
.banner__list.slick-initialized .slick-list:hover > .slick-arrow {
  display: inline-block !important;
}

.banner__sub {
  margin-bottom: 20px;
}
.banner__sub a {
  border-radius: 5px;
  overflow: hidden;
  display: block;
}

.watch {
  margin-bottom: 30px;
}
.watch__container {
  display: flex;
  background: #203e4e;
  padding: 10px;
  border-radius: 5px;
}
.watch__img {
  width: 222px;
  height: auto;
}
.watch__content {
  width: calc(100% - 222px);
  position: relative;
}
.watch__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.watch__content .watch__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.watch__content .watch__tabs {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin: 0;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.watch__content .watch__item a {
  display: block;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
.watch__content .watch__more {
  color: #ffffff;
}

.brands {
  margin-bottom: 30px;
}
.brands .brands__header {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.brands .brands__slider.slick-initialized .slick-track {
  display: flex;
  gap: 0 10px;
  margin-left: -10px;
}

.technology {
  margin-bottom: 20px;
}
.technology__container {
  display: flex;
}
.technology__news {
  width: 70%;
  padding-right: 5px;
}
.technology__news .technology__news-header {
  margin-bottom: 10px;
}
.technology__news .technology__news-header span {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}
.technology__news .technology__news-header a {
  color: #0069db;
}
.technology__news .technology__news-header i {
  padding-top: 2px;
}
.technology__news .technology__news-info {
  display: flex;
}
.technology__news .technololgy__news-big {
  width: 60%;
  padding-right: 5px;
}
.technology__news .technololgy__news-big img {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.technology__news .technology__news-big-desc {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.technology__news .technology__news-small {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding-left: 5px;
}
.technology__news .technology__news-small-link {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.technology__news .technology__news-small-img {
  width: 120px;
  height: 70px;
  border-radius: 5px;
}
.technology__news .technology__news-small-desc {
  font-weight: 400;
  font-size: 12px;
}
.technology__news .technology__news-small-desc p {
  text-align: justify;
}
.technology__news .technology__news-small-desc span {
  font-size: 10px;
  color: gray;
  margin-top: 5px;
  display: block;
}
.technology__app {
  width: 30%;
  position: relative;
  padding-left: 5px;
}
.technology__app .app__header {
  margin-bottom: 10px;
}
.technology__app .app__header span {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
}
.technology__app .app__header a {
  color: #0069db;
}
.technology__app .app__item .app__img img {
  width: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.technology__app .app__item .app__info {
  margin-top: 10px;
}
.technology__app .app__item .app__info .app__info-header {
  display: flex;
  gap: 0 10px;
}
.technology__app .app__item .app__info .app__info-header .app__info-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.technology__app .app__item .app__info .app__info-header .app__info-desc .app__info-desc-title {
  font-weight: bold;
  font-size: 14px;
}
.technology__app .app__item .app__info .app__info-header .app__info-desc .app__info-label .app__info-label-tag {
  padding: 5px;
  background: #07a358;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}
.technology__app .app__item .app__info .app__info-header .app__info-desc .app__info-label span {
  line-height: 20px;
  font-size: 13px;
}
.technology__app .app__item .app__info-link a {
  display: block;
  color: #0069db;
  margin-top: 10px;
}

.commercial p {
  margin: 0;
}
.commercial .commercial__container {
  padding: 0 5px 5px;
  background: #008847;
}
.commercial .commercial__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.commercial .commercial__logo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0 10px;
  padding: 0 30px;
  position: relative;
}
.commercial .commercial__logo .commercial__link img {
  width: 150px;
}
.commercial .commercial__logo span {
  font-size: 16px;
  color: #FED100;
}
.commercial .commercial__logo .commercial__note {
  font-size: 12px;
  color: #ffffff;
  font-style: italic;
}
.commercial .commercial__close {
  font-size: 12px;
  color: #ffffff;
}
.commercial .commercial__close .commercial__close-icon {
  color: #000000;
  background: #ffffff;
  border-radius: 100rem;
  font-size: 11px;
  padding: 2px 4px;
  border: none;
  outline: none;
}
.commercial .commercial__content {
  display: flex;
}
.commercial .commercial__content .commercial__voucher {
  background: #fefcea;
  border: 2px solid #dbb250;
  width: 20%;
  padding: 10px;
  max-width: 190px;
  display: flex;
  flex-direction: column;
}
.commercial .commercial__content .commercial__voucher-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}
.commercial .commercial__content .commercial__input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #008847;
  border-radius: 5px;
  color: #000;
  margin-bottom: 10px;
}
.commercial .commercial__content .commercial__content-note {
  font-size: 12px;
  color: #a9a9a9;
  margin-top: auto;
}
.commercial .commercial__content .commercial__product {
  width: 100%;
  display: flex;
}
.commercial .commercial__content .commercial__product .commercial__item {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dedede;
}
.commercial .commercial__content .commercial__product .commercial__item-img {
  padding: 10px;
  object-fit: contain;
}
.commercial .commercial__content .commercial__product .commercial__info {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.commercial .commercial__content .commercial__product .commercial__title {
  font-size: 12px;
  margin-bottom: 5px;
}
.commercial .commercial__content .commercial__product .commercial__price {
  text-align: center;
}
.commercial .commercial__content .commercial__product .commercial__price .commercial__price-curent {
  font-size: 16px;
  color: #d12c1f;
  margin-bottom: 5px;
}
.commercial .commercial__content .commercial__product .commercial__price .commercial__price-old {
  margin-bottom: 30px;
}
.commercial .commercial__content .commercial__product .commercial__price .commercial__price-old span {
  color: #d12c1f;
}
.commercial .commercial__content .commercial__product .commercial__price .commercial__price-old span:first-child {
  text-decoration: line-through;
  color: #000;
}
.commercial .commercial__content .commercial__product .commercial__btn {
  margin-top: auto;
}

.footer {
  padding: 20px 10px 10px;
  margin-top: 30px;
  border-top: 1px solid #dee2e6;
}
.footer b {
  color: #0069db;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__item {
  margin-bottom: 15px;
}
.footer__cooperate {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.footer__link img {
  flex: 1;
}
.footer__link span {
  color: #0069db;
}
.footer__icon-fb {
  font-size: 16px;
  color: #026df3;
}
.footer__icon-youtube {
  font-size: 16px;
  color: red;
}

@media (max-width: 1023px) {
  .navbar__mobile-icon {
    font-size: 18px;
  }

  .banner__primary {
    width: 100%;
    padding: 0;
  }
  .banner__link {
    display: block;
    height: 100%;
    overflow: hidden;
  }

  .header__logo {
    width: 30px;
  }
  .header__location {
    width: 125px;
  }
  .header__search {
    width: 150px;
  }

  main {
    margin-top: 0;
  }

  .category__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    gap: 6px;
  }
  .category__item {
    width: calc(20% - 5px);
    border-radius: 5px;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    text-align: center;
    padding: 5px;
    min-height: 40px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .category__link {
    font-size: 12px;
  }

  .product__list .product__img img {
    height: 120px;
  }
  .product__list .product__compare {
    display: none;
  }

  .highlight__header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    gap: 10px 0;
  }

  .highlight__tag-list {
    gap: 0 5px;
  }
  .highlight__tag-list::-webkit-scrollbar {
    display: none;
  }

  .highlight__tag-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 175px;
  }

  .watch__container {
    flex-direction: column;
  }
  .watch__img {
    width: 100%;
  }
  .watch__content {
    width: 100%;
  }

  .brands__container {
    padding: 0 10px;
  }

  .technology__container {
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .technology__news {
    width: 100%;
    margin-bottom: 30px;
  }
  .technology__news-info {
    width: 100%;
  }
  .technology__news .technology__news-small {
    width: 100%;
    padding: 0;
  }
  .technology__app {
    width: 100%;
    padding: 0;
  }
  .technology__app .app__item .app__img img {
    width: 100%;
    object-fit: cover;
  }

  .commercial .commercial__content {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .commercial .commercial__content .commercial__voucher {
    min-width: 190px;
  }
  .commercial .commercial__content .commercial__product .commercial__item {
    min-width: 135px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .header__top {
    padding: 60px 10px 10px;
  }
  .header__navbar-item-tag-sale {
    top: 5px;
    right: 3px;
  }

  .category__link {
    font-size: 14px;
  }

  .commercial .commercial__logo {
    flex-direction: initial;
  }
}
@media (max-width: 739px) {
  .header__top {
    padding: 12px 10px 5px;
  }
  .header__location {
    width: 60px;
  }
  .header__cart {
    border: none;
    padding: 0;
    width: 30px;
    font-size: 18px;
  }
  .header__navbar-item-tag-sale {
    top: 2px;
    right: 1px;
    padding: 0px 4px;
  }

  .technology__news {
    width: 100%;
    margin-bottom: 30px;
  }
  .technology__news-info {
    width: 100%;
  }
  .technology__news .technology__news-small {
    width: 100%;
    flex-direction: row;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 0 8px;
  }
  .technology__news .technology__news-small-link {
    min-width: 120px;
    flex-direction: column;
  }
  .technology__news .technology__news-small-desc p {
    text-align: start;
  }

  .commercial .commercial__logo {
    flex-direction: column;
    align-items: start;
    gap: 5px 0;
  }
  .commercial .commercial__logo .commercial__link img {
    width: 120px;
  }
  .commercial .commercial__logo span {
    font-size: 12px;
  }

  .watch .watch__item {
    flex: 1;
  }
  .watch .watch__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    line-height: 20px;
    min-height: 40px;
    text-align: center;
  }
}

/*# sourceMappingURL=app.css.map */
