.banner__sticky {
    a {
        position: fixed;
        top: 195px;
        width: 90px;
        z-index: 999;
    }
}
.banner {
    &__primary {
        border-radius: $primary-radius;
        overflow: hidden;
    }
    &__primary-small:nth-child(3),
    &__primary-small:nth-child(4) {
        margin-top: 10px;
    }
    &__primary.slick-initialized.slick-slider:hover > .slick-arrow {
        display: block !important;
    }
    &__primary.slick-initialized .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        will-change: transform;
        z-index: 9;
        border: none;
        outline: none;
        padding: 20px 10px;
        font-size: 28px;
        background: #ffffffcc;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: none;
    }
    &__primary.slick-initialized .slick-prev {
        left: 0;
    }
    &__primary.slick-initialized .slick-next {
        right: 0;
    }
    &__primary.slick-initialized .slick-list:hover > .slick-arrow {
        display: inline-block !important; ;
    }
}