.commercial {
    .commercial__container {
        padding: 0 5px;
        background: #008847;
    }
    .commercial__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .commercial__logo {
        .commercial__link {

        }
        .commercial__note {

        }
    }
    .commercial__close {

    }
    .commercial__content {
        .commercial__voucher {

        }
        .commercial__voucher-title {

        }
        .commercial__form {
            
        }
        .commercial__input {

        }
        .commercial__content-note {

        }
        .commercial__product {
            .commercial__item {

            }
            .commercial__item-img {

            }
            .commercial__info {

            }
            .commercial__price {
                .commercial__price-current {

                }
                span {

                }
            }
        }
    }
}