.commercial {
  & p {
    margin: 0;
  }
  &__container {
    padding: 0 5px 5px;
    background: #008847;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
  }
  &__logo {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding: 0 30px;
    position: relative;
    &__link {
      img {
        width: 150px;
      }
    }
    span {
      font-size: $primary-fs;
      color: $primary-color;
    }
    &__note {
      font-size: $s-fs;
      color: $white-color;
      font-style: italic;
    }
  }
  &__close {
    font-size: $s-fs;
    color: $white-color;
    &__close-icon {
      color: #000000;
      background: #ffffff;
      border-radius: 100rem;
      font-size: $ss-fs;
      padding: 2px 4px;
      border: none;
      outline: none;
    }
  }
  &__content {
    display: flex;
    &__voucher {
      background: #fefcea;
      border: 2px solid #dbb250;
      width: 20%;
      padding: 10px;
      max-width: 190px;
      display: flex;
      flex-direction: column;
    }
    &__voucher-title {
      margin-bottom: 15px;
      font-size: $m-fs;
      font-weight: bold;
    }
    &__input {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #008847;
      border-radius: $primary-radius;
      color: $text-color;
      margin-bottom: 10px;
    }
    &__content-note {
      font-size: $s-fs;
      color: #a9a9a9;
      margin-top: auto;
    }
    &__product {
      width: 100%;
      display: flex;
      &__item {
        background-color: $white-color;
        flex: 1;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #dedede;
      }
      &__item-img {
        padding: 10px;
        object-fit: contain;
      }
      &__info {
        padding: 5px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      &__title {
        font-size: $s-fs;
        margin-bottom: 5px;
      }
      &__price {
        text-align: center;
        &__price-curent {
          font-size: $primary-fs;
          color: #d12c1f;
          margin-bottom: 5px;
        }
        &__price-old {
          margin-bottom: 30px;
          span {
            &:first-child {
              text-decoration: line-through;
              color: $text-color;
            }
            color: #d12c1f;
          }
        }
      }
      &__btn {
        margin-top: auto;
      }
    }
  }
}
