.footer {
    padding: 10px 0;
    margin-top: 30px;
    border-top: 1px solid $primary-border-input;
    b {
        color: $primary-text-blue;
    }
    &__container {

    }
    &__list {
        margin: 0;
        padding: 0;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__cooperate {
        display: flex;
        align-items: center;
    }
    &__link {
        display: block;
        img {
            flex: 1;
        }
    }
}