.footer {
    padding: 10px 0;
    margin-top: 30px;
    border-top: 1px solid $primary-border-input;
    b {
        color: $primary-text-blue;
    }
    &__container {

    }
    &__list {
        margin: 0;
        padding: 0;
    }
    &__item {
        margin-bottom: 15px;
    }
    &__cooperate {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }
    &__link {
        img {
            flex: 1;
        }
    }
    &__icon-fb {
        font-size: $primary-fs;
        color: #026df3;
    }
    &__icon-youtube {
        font-size: $primary-fs;
        color: red;
    }
}