.banner {
  &__outside {
    background: rgb(255, 255, 42);
    height: 45px;
  }
}
.header {
  &__top-bg {
    background: $black-color;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    padding: 5px 0;
    gap: 0 12px;
    font-size: $s-fs;
    line-height: calc(14 / 10);
  }
  &__logo {
    width: 160px;
  }
  &__location {
    color: $white-color;
    font-size: $ss-fs;
    width: 140px;
    span {
      margin-top: 2px;
      font-size: $s-fs;
      color: $primary-color;
      display: block;
      font-size: 11px;
    }
  }
  &__search {
    position: relative;
    width: 225px;
    input {
      border-radius: $primary-radius;
      width: 100%;
      padding: 8px 10px;
      border: none;
      outline: none;
      font-size: $s-fs;
    }
    &-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      background: transparent;
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px 5px;
    width: 100px;
    gap: 0 5px;
    border-radius: 5px;
  }
  &__history-cart {
    width: 60px;    
    text-align: center;
  }
  &__hot {
    width: 200px;
    position: relative;
    padding: 0 18px;
    &-dot-new {
    background-color: $text-yellow-color;
    border-radius: 100%;
    display: block;
    left: 3px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: growUp 1s linear infinite;
    }
  }
  &__question {
    &-link {
    }
  }
}
