@keyframes fadeIn {
    0% {
        opacity: 0;
        transition: $primary-linear;
    }
    100% {
        opacity: 1;
        transition: $primary-linear;
        transform: translateX(0);
    }
}
@keyframes growUp {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(4);
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes fadeBottom{
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

