@keyframes growUp {
    0% {
        opacity: 0;
        transition: all .3s linear;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
        transition: all .3s linear;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
        transition: all .3s linear;
    }
}