// PC < 
@media (min-width: 1024px) and (max-width: 1170px) {
  .banner__link img {
    height: 290px;
  }
  .banner__small-item {
    width: 145px;
    height: 145px;
  }
}
// Mobile and Tablet
@media (max-width: 1023px) {
  .navbar {
    &__mobile-icon {
      font-size: 18px;
    }
  }
  .banner {
    &__primary {
      width: 100%;
      padding: 0;
    }
    &__link {
      display: block;
      height: 100%;
      overflow: hidden;
    }
  }
  .header {
    &__logo {
      width: 30px;
    }
    &__location {
      width: 125px;
    }
    &__search {
      width: 150px;
    }
  }
  main {
    margin-top: 0;
  }
  .product__list {
    .product__img {
      img {
        height: 120px;
      }
    }
    .product__compare {
      display: none;
    }
  }
  .highlight__header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    gap: 10px 0;
  }
  .highlight__tag-list {
    gap: 0 5px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .highlight__tag-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 175px;
  }
  .watch {
    &__container {
      flex-direction: column;
    }
    &__img {
      width: 100%;
    }
    &__content {
      width: 100%;
    }
  }
  .brands {
    &__container {
      padding: 0 10px;
    }
  }
  .technology {
    &__container {
      flex-wrap: wrap;
      padding: 0 10px;
    }
    &__news {
      width: 100%;
      margin-bottom: 30px;
      &-info {
        width: 100%;
      }
      .technology__news-small {
        width: 100%;
        padding: 0;
      }
    }
    &__app {
      width: 100%;
      padding: 0;
      .app__item {
        .app__img {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .commercial {
    .commercial__content {
      overflow-y: hidden;
      overflow-x: auto;
      .commercial__voucher {
        min-width: 190px;
      }
      .commercial__product {
        .commercial__item {
          min-width: 135px;
        }
      }
    }
  }
}
// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .header {
    &__top {
      padding: 60px 10px 10px;
    }
    &__navbar-item-tag-sale {
      top: 5px;
      right: 3px;
    }
  }
  .category {
    &__link {
      font-size: $m-fs;
    }
  }
  .commercial {
    .commercial__logo {
      flex-direction: initial;
    }
  }
}
// Mobile
@media (max-width: 739px) {
  .header {
    &__top {
      padding: 12px 10px 5px;
    }
    &__location {
      width: 60px;
    }
    &__cart {
      border: none;
      padding: 0;
      width: 30px;
      font-size: 18px;
    }
    &__navbar-item-tag-sale {
      top: 2px;
      right: 1px;
      padding: 0px 4px;
    }
  }
  .technology {
    &__news {
      width: 100%;
      margin-bottom: 30px;
      &-info {
        width: 100%;
      }
      .technology__news-small {
        width: 100%;
        flex-direction: row;
        padding: 0;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 0 8px;
      }
      .technology__news-small-link {
        min-width: 120px;
        flex-direction: column;
      }
      .technology__news-small-desc {
        p {
          text-align: start;
        }
      }
    }
  }
  .commercial {
    .commercial__logo {
      flex-direction: column;
      align-items: start;
      gap: 5px 0;
      .commercial__link {
        img {
          width: 120px;
        }
      }
      span {
        font-size: $s-fs;
      }
    }
  }
  .watch {
    .watch__item {
      flex: 1;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px;
          line-height: 20px;
          min-height: 40px;
          text-align: center;
        }
    }
  }
}
