.technology {
    .technology__container {
        display: flex;
    }
    .technology__news {
        display: flex;
        width: 70%;
    }
    .technology__app {
        width: 30%;
    }
    .technololgy__news-big {
        width: 60%;
        img {
            border-radius: $primary-radius;
            overflow: hidden;
            margin-bottom: 20px;
        }
    }
    .technology__news-big-desc {
        display:-webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
    }

    .technology__news-small {
        width: 60%;
    }
    .technology__news-small {
        width: 40%;
    }
    .technology__news-small-link {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }
    .technology__news-small-img {
        width: 120px;
        height: 70px;
        border-radius: $primary-radius;
    }
    
}