.technology {
  margin-bottom: 20px;
  &__container {
    display: flex;
  }
  &__news {
    width: 70%;
    padding-right: 5px;
    .technology__news-header {
      margin-bottom: 10px;
      span {
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
        text-transform: uppercase;
      }
      a {
        color: $primary-text-blue;
      }
      i {
        padding-top: 2px;
      }
    }
    .technology__news-info {
      display: flex;
    }
    .technololgy__news-big {
      width: 60%;
      padding-right: 5px;
      img {
        border-radius: $primary-radius;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
    .technology__news-big-desc {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .technology__news-small {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      padding-left: 5px;
    }
    .technology__news-small-link {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
    .technology__news-small-img {
      width: 120px;
      height: 70px;
      border-radius: $primary-radius;
    }
    .technology__news-small-desc {
      font-weight: 400;
      font-size: $s-fs;
      p {
        text-align: justify;
      }
      span {
        font-size: 10px;
        color: gray;
        margin-top: 5px;
        display: block;
      }
    }
  }
  &__app {
    width: 30%;
    position: relative;
    padding-left: 5px;
    .app__header {
      margin-bottom: 10px;
      span {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        margin-right: 10px;
      }
      a {
        color: $primary-text-blue;
      }
    }
    .app__item {
      .app__img {
        img {
          width: 400px;
          object-fit: cover;
          border-radius: $primary-radius;
        }
      }
      .app__info {
        margin-top: 10px;
        .app__info-header {
          display: flex;
          gap: 0 10px;
          .app__info-img {
            width: 60px;
            height: 60px;
            border-radius: $primary-radius;
          }
          .app__info-desc {
            .app__info-desc-title {
              font-weight: bold;
              font-size: $m-fs;
            }
            .app__info-label {
              .app__info-label-tag {
                padding: 5px;
                background: #07a358;
                color: $white-color;
                font-weight: bold;
                font-size: $s-fs;
                border-radius: $primary-radius;
              }
              span {
                line-height: 25px;
                font-size: $mm-fs;
              }
            }
          }
        }
      }
      .app__info-link {
        a {
          display: block;
          color: $primary-text-blue;
          margin-top: 10px;
        }
      }
    }
  }
}
